<div>
  <div class="container-btn d-flex justify-content-end align-items-center">
    <%= link_to sites_path(@sites) do %>
      <i class="fas fa-times"></i>
    <% end %>
  </div>
  <div class="container-form pb-5">
    <h2>Cycle history</h2>
    <% @cicles = @cicles.order(start_date: :desc) %>
    <% @cicles.each do |cicle| %>
      <div class="d-flex align-items-center justify-content-between underline-list">
        <div class="d-flex">
          <%# to format how the dates are displayed >>> config/initializers/time_formats %>
          <p><%= cicle.start_date.to_formatted_s(:cicle_start) %></p>
          <p><%= cicle.end_date.to_formatted_s(:cicle_end) %></p>
        </div>
        <div class="mood-crud-btns pb-2">
          <%= link_to edit_cicle_path(cicle) do %>
            <i class="fa-solid fa-pen"></i>
          <% end %>
          <%= link_to cicle_path(cicle), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <%= render "new" %>
</div>

</div>
