<div class="container-form">
  <h2>Tag for:&nbsp<%= @site.name %></h2>
  <%= simple_form_for [@site, @mood] do |f| %>
    <%= f.input :name %>
    <%= f.input :color, :collection => %w[Blue Green Pink Red Orange], input_html: {class: "input-field"} %>
    <%= f.input :description %>
    <%= f.submit %>
  <% end %>
</div>
