<div class="container-btn d-flex justify-content-end align-items-center">
  <%= link_to site_path(@site) do %>
    <i class="fas fa-times"></i>
  <% end %>
</div>
<div class="container-form pb-5">
  <div>
    <% @site.moods.each do |mood| %>
      <div class="d-flex align-items-center justify-content-between underline-list">
        <div class="list-line d-flex align-items-center" >
          <i class="fa-solid fa-tag" style="color:<%= mood.color.downcase%>"></i>
          <p><%= mood.name %></p>
        </div>
        <div class="mood-crud-btns pb-2">
          <%= link_to edit_site_mood_path(@site, mood) do %>
            <i class="fa-solid fa-pen"></i>
          <% end %>
          <%= link_to site_mood_path(@site, mood), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>

<div>
  <%= render "form" %>
</div>
