<div class="container-form">
  <h2>Plant and grow a project!</h2>
  <%= simple_form_for [@site, @seed] do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :date %>
    <%= f.submit %>
  <% end %>
</div>
