<div class="mt-5">
  <h2>Do you have a new project you are working on now?</h2>
  <%= simple_form_for [@site, @seed] do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :date %>
    <%= f.submit %>
  <% end %>
</div>
