<div class="container-form">
  <h2>Log for:&nbsp<%= @site.name %></h2>
  <%= simple_form_for [@site, @log] do |f| %>
    <%= f.input :date %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.submit %>
  <% end %>
</div>
