

<div class="background">
  <% if @sites != [] %>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
          <%# code to place all the tags of a month in a circle %>
        <% days_month = (1..31) %>
        <div class="d-flex justify-content-center mt-5">
          <div class="container-c" style="--m: <%= days_month.last %>; --tan: 0.41">
            <% @sites.each do |site|  %>
              <%= link_to site_path(site), class: "btn-center-circle" do %>
                <p>Start to log! You might find a pattern soon!</p>
              <% end %>
            <% end %>
            <% @logs = @logs.order(date: :desc) %>
            <% @logs.take(30).each_with_index do |log, i| %>
              <% now = Date.today %>
              <% before = log.date %>
              <a href="#" class="d-flex align-items-center justify-content-center icon-circle" style="--i: <%= i %>" data-toggle="tooltip"  title="<%= difference_in_days = (now - before).to_i %> days ago">
                <% @moods.each do |mood| %>
                  <% if mood.id == log.mood_id %>
                    <i class="fa-solid fa-circle" style="color:<%= mood.color.downcase%>"></i>
                  <% end %>
                <% end %>
              </a>
            <% end %>
          </div>
        </div>

        <%# ----------------------------------------------- %>
        <%# <div class="d-flex justify-content-center align-items-center mt-5 mb-5"> %>
            <%# IF WE NEED TO ADD A NEW LOG WE CAN ADD IT WITH THIS BUTTON %>
            <%# <div class="">
              <%= link_to "New Logbook", new_site_path, class: "btn btn-ghost" %>
            <%# </div> %>
        <%# </div> %>
        <%# <% @sites.each do |site|  %>
          <%# <%= link_to site_path(site) do %>
            <%# <div class=""> %>
              <%# <div class="d-flex justify-content-between card-category"> %>
                <%# <h4><%= site.name</h4> %>
                <%# <div class="log-crud-btns pb-2"> %>
                  <%# <%= link_to edit_site_path(site) do %>
                    <%# <i class="fa-solid fa-pen"></i> %>
                  <%# <% end %>
                  <%# <%= link_to site_path(site), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                    <%# <i class="fa-solid fa-trash"></i> %>
                  <%# <% end %>
                <%# </div> %>
              <%# </div> %>
              <%# <p><%= site.address</p> %>
            <%# </div> %>
          <%# <% end %>
          <%# <% end %>

        <div class='circle-container d-flex justify-content-center align-items-center'>
          <a href='#' class='center'><img src='image.jpg'></a>
          <a href='#' class='deg0'><img src='image.jpg'></a>
          <a href='#' class='deg45'><img src='image.jpg'></a>
          <a href='#' class='deg135'><img src='image.jpg'></a>
          <a href='#' class='deg180'><img src='image.jpg'></a>
          <a href='#' class='deg225'><img src='image.jpg'></a>
          <a href='#' class='deg315'><img src='image.jpg'></a>
          <div class='circle-container-two d-flex justify-content-center align-items-center'>
            <div class='circle-container-three'>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1"></div>
    </div>

  <% else %>
    <div class="d-flex align-items-center justify-content-center empty">
      <h3> Ready to start rewilding? <%= link_to "Click here to create your first logbook", new_site_path %>. </h3>
    </div>
  <% end %>
</div>

<div class="container-home text-center">
  <div class="mb-5">
    <h4>Soon you will compare your patterns with:</h4>
  </div>
  <div class="mb-3">
    <% @all_sites.each do |site| %>
      <div class="card-category">
      <% @user = @all_users.find(site.user_id) %>
      <p><%= site.name %> by <%= @user.email %></p>
      <%# <%= @user(site) %>
      </div>
    <% end %>
  </div>
</div>
