<div class="no-overflow">
  <div class="d-flex align-items-center navbar-dashboard">
    <div>
      <div class="fixed-icons-bottom">
        <%= link_to new_site_mood_path(@site), class: "fab-top-right" do %>
          <i class="fa-solid fa-tags"></i>
        <% end %>
        <%= link_to site_seeds_path(@site), class: "fab-top-right" do %>
          <i class="fa-solid fa-seedling"></i>
        <% end %>
      </div>
    </div>
    <%# THE MOON TODAY %>
    <div class="fixed-moon" id="contain_moon" style="text-align:center;"><div style="font-weight:bold"></div><div style=""></div><div></div><div style="font-size:small"></div></div><script>(function(){var d=new Date().getDate();var m=document.querySelectorAll("#contain_moon div");var a=new XMLHttpRequest();var url="https://www.icalendar37.net/lunar/api/?lang=en&month="+(new Date().getMonth()+1)+"&year="+(new Date().getFullYear())+"&size=100&lightColor=rgb(245,245,219)&shadeColor=rgb(17,17,17)&t&LDZ="+new Date(new Date().getFullYear(),new Date().getMonth(),1)/1000+"";m[1].style.height="100px";a.onreadystatechange=function(){if(a.readyState==4&&a.status==200){var b=JSON.parse(a.responseText);m[1].innerHTML=b.phase[d].svg;if(typeof moon_widget_loaded=="function")moon_widget_loaded(b)}};a.open("GET",url,true);a.send()})()</script>
    </div>
  </div>

  <div class="no-overflow dark-background">

    <div class="row" style="padding-top: 10px">
      <div class="col-3 type-text">
        <div>
          <%# this is a div with a right border %>
          <div style="border-right: 1px solid white; weight: 40px;"></div>
          <%# this is a div with a date and a round icon a bit positioned to the right (lrelative 7px because) %>
          <div class="text-dark-mode d-flex justify-content-end align-items-center timeline">
            <p><%= Date.today.to_formatted_s(:log) %></p>
            <i class="fa-solid fa-circle"></i>
          </div>
          <%# another div with a right border %>
          <div style="border-right: 1px solid white; height: 40px; margin: 5px 0 0 5px;"></div>
        </div>
      </div>
      <div class="col-9 type-text d-flex align-items-start text-dark-mode pt-0">
        <h3>Hi <%= @site.name %>! How do you feel today?</h3>
        <h3><%= link_to "Add log", new_site_log_path(@site) %></h3>
      </div>
    </div>
    <div class="row">
      <% if @logs != [] %>
        <% @logs = @logs.order(date: :desc) %>
        <% @logs.each do |log| %>
          <div class="col-3 d-flex flex-column">
            <div class="flex-grow-1" style="border-right: 1px solid white; height: 40px; margin: 0px;"></div>
            <div class="d-flex justify-content-end align-items-center timeline text-dark-mode">
              <%# to format how the dates are displayed >>> config/initializers/time_formats %>
              <p><%= log.date.to_formatted_s(:log) %></p>
              <i class="fa-solid fa-circle"></i>
            </div>
            <div class="flex-grow-1" style="border-right: 1px solid white; height: 40px; margin: 0px;"></div>
          </div>
          <div class="col-9 d-flex">
            <div class="card-product">
              <div class="d-flex justify-content-between">
                <h4><%= log.title %></h4>
                <div class="log-crud-btns pb-2">
                  <%= link_to edit_site_log_path(@site, log) do %>
                    <i class="fa-solid fa-pen"></i>
                  <% end %>
                  <%= link_to site_log_path(@site, log), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                    <i class="fa-solid fa-trash"></i>
                  <% end %>
                </div>
              </div>
              <% @seeds.each do |seed| %>
                <% if seed.id == log.seed_id %>
                  <p>Today my focus is: <%= seed.name %></p>
                <% end %>
              <% end %>
              <p><%= log.description %></p>
              <%# ------here we display the tag icon with the color of the mood-------it should always have a mood but this is a test %>
              <% @moods.each do |mood| %>
                <% if mood.id == log.mood_id %>
                  <i class="fa-solid fa-tag tag-medium" style="color:<%= mood.color.downcase%>"></i>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

    </div>
  </div>
</div>
